/* general */
body {
	background-color: royalblue;
}

ul {
	list-style-type: none;
  margin: 0;
	margin-left: 5%;
	margin-right: 5%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
	float: left;
	display: flex;
	width: 25%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  /*padding: 14px 16px;*/
  padding: 5% 45%;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li:hover {
  background-color: #111;
}

/* title */
.header {
	margin: auto;
}

.title {
	text-align: center;
	font-size: xx-large;
	color: white;
}

.by {
	text-align: center;
	font-size: small;
	color: white;
}

/* Game */
.game {
	display: flex;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 30%;
	background-color: aliceblue;
}