<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body>

	<!-- Worder Solver Title -->
	<div class="header">
		<h1 class="title">Wordle Solver</h1>
		<h2 class="by">Developed by: Max Finder</h2>
	</div>

	<!-- Navigation Menu -->
	<ul>
		<li><a href="https://google.com">Home</a></li>
		<li><a href="https://google.com">Play</a></li>
		<li><a href="https://google.com">Practice</a></li>
		<li><a href="https://google.com">About</a></li>
	</ul>

	<div class="game">
		<p>Hello</p>
	</div>

</body>

</html>